 

<a *ngFor="let item of todos">{{item}}</a>
<div class="row">
  <div class="col-md-3"> 
      <h2>Yet To Start</h2>
      <div class="alert alert-success" *ngFor="let item of taskdata | bucket : 'YetToStart'; let i=index" (click)="moveTo(item)">
        {{item.CONVERGE_ID}} | {{item.PUBLISHER}} | {{item.POCS}} 
      </div> 
  </div> 

  <div class="col-md-3" > 
      <h2>In Progress</h2>
      <div class="alert alert-success" *ngFor="let item of taskdata | bucket : 'InProgress' let i=index" (click)="moveTo(item)">
        {{item.CONVERGE_ID}} | {{item.PUBLISHER}} | {{item.POCS}}  
      </div> 
  </div>
  
  <div class="col-md-3"> 
      <h2>Todo</h2>
      <div class="alert alert-success"  *ngFor="let item of taskdata | bucket : 'Todo' let i=index" (click)="moveTo(item)">
        {{item.CONVERGE_ID}} | {{item.PUBLISHER}} | {{item.POCS}} 
      </div> 
  </div> 

  <div class="col-md-3" > 
      <h2>Completed</h2>
      <div class="alert alert-success" *ngFor="let item of taskdata | bucket : 'Completed' let i=index" (click)="moveTo(item)">
        {{item.CONVERGE_ID}} | {{item.PUBLISHER}} | {{item.POCS}} 
      </div> 
  </div> 
  
</div> 

  <div class="row">
    <div class="col-md-12" > 
      <a href="javascript:;" class="btn btn-primary" (click)="addNewTask()">New Task</a>
      <a href="javascript:;" class="btn btn-primary" (click)="addItem()">Todos</a>
    </div>
  </div>
  <!--
  <div class="alert alert-success" *ngFor="let item of taskdata | bucket : 'Completed' let i=index" (click)="moveTo(item)">
    {{item.id}} | {{item.title}} | {{item.author}} 
  </div>

  <a href="javascript:;" class="btn btn-primary" (click)="addNewTask()">New Task</a>

-->


