/* You can add global styles to this file, and also import other style files */
.bg-light {
    background-color: #f8f9fa!important;
}
body{
      font-family: 'Open Sans', sans-serif !important;
      background: #eeeeee !important
}
app-task-create{
      margin: 3rem 0 0 0;
      display: block
}

app-task-list{
      margin: 3rem 0 0 0;
      display: block
}




