<div class="task-list" *ngIf="showList">
      <div class="container-fluid">
      <div class="row title"> 
            <!--div class="col-md-3"> 
                  <div class="card"> 
                        <div class="card-body">
                              <h5 class="card-title">Yet To Start</h5>
                              <div class="alert alert-success" *ngFor="let item of taskdata | bucket : '0'; let i=index" (click)="moveTo(item)">
                                    {{item.convergeID}} | {{item.publisher}} | {{item.pocs}} <br/> {{item.jobComments}}
                              </div> 
                        </div>
                  </div>
            </div> 
            <div class="col-md-3"> 
                  <div class="card"> 
                        <div class="card-body">
                              <h5 class="card-title">In Progress</h5>
                              <div class="alert alert-success" *ngFor="let item of taskdata | bucket : '1' let i=index" (click)="moveTo(item)">
                              {{item.convergeID}} | {{item.publisher}} | {{item.pocs}}  <br/> {{item.jobComments}}
                              </div> 
                        </div>
                  </div>
            </div> 
            <div class="col-md-3"> 
                  <div class="card"> 
                        <div class="card-body">
                              <h5 class="card-title">Todo</h5>
                              <div class="alert alert-success"  *ngFor="let item of taskdata | bucket : '2' let i=index" (click)="moveTo(item)">
                              {{item.convergeID}} | {{item.publisher}} | {{item.pocs}} <br/> {{item.jobComments}}
                              </div> 
                        </div>
                  </div>
            </div>
            <div class="col-md-3"> 
                  <div class="card"> 
                        <div class="card-body">
                              <h5 class="card-title">Completed</h5>
                              <div class="alert alert-success" *ngFor="let item of taskdata | bucket : '3' let i=index" (click)="moveTo(item)">
                              {{item.convergeID}} | {{item.publisher}} | {{item.pocs}} <br/> {{item.jobComments}}
                              </div>  
                        </div>
                  </div>
            </div-->
            <div class="col-md-2">ConvergeID</div>
            <div class="col-md-1">Job Type</div>
            <div class="col-md-1">Publisher</div>
            <div class="col-md-1">Complexity</div> 
            <div class="col-md-2">Status</div>
            <div class="col-md-2">Sch.Start</div>
            <div class="col-md-1">Sch.End</div>
            <div class="col-md-1">Sch.Hours</div> 
            <div class="col-md-1">Edit</div>
      </div>  
      <div *ngFor="let item of taskdata | bucket : '0':'1'; let current=index ">
            <div class="row" (click)="openTaskDetail(item.task_id)">
                  <div class="col-md-2">{{item.converge_id}}</div>
                  <div class="col-md-1">{{item.jobtype}}</div>
                  <div class="col-md-1">{{item.publisher}}</div>
                  <div class="col-md-1">{{item.complexity | complexity}}</div>
                  <div class="col-md-2">{{item.task_status | status}}</div>
                  <div class="col-md-2">{{item.scheduled_start_date}}</div>
                  <div class="col-md-1">{{item.scheduled_end_date}}</div>
                  <div class="col-md-1">{{item.scheduled_hours}}</div> 
                  <div class="col-md-1">Edit</div>
            </div>
            <app-task-create *ngIf="showForm[item.task_id]" [tasks]="item" [hidden]=""></app-task-create>
      </div>
</div>
</div> 


